<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SolarEdgeService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SolarEdgeService.SolarEdgeServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SolarEdgeService.SolarEdgeService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SolarEdgeService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SolarEdgeService.SolarEdgeServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BindingWithMaxSizeIncreased" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_SolarEdgeWCFService"
            closeTimeout="00:00:10"
            openTimeout="00:00:10"
            receiveTimeout="00:00:10"
            sendTimeout="00:00:05"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8448" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" />
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="SolarEdgeService.Communication.SolarEdgeWCFService">
        <endpoint address="SolarEdgeDataServer" binding="wsDualHttpBinding" contract="SolarEdgeService.Communication.ISolarEdgeDataServer" bindingConfiguration="WSDualHttpBinding_SolarEdgeWCFService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/SolarEdgeWCFService/"/>
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Legen Sie den Wert unten auf "false" fest, um die Veröffentlichung 
          von Metadateninformationen zu vermeiden, und entfernen Sie den Metadatenendpunkt oben vor der Bereitstellung. -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Damit in Fehlern Ausnahmedetails zum Debuggen angezeigt werden, 
          legen Sie den Wert unten auf "true" fest. Legen Sie ihn vor der Bereitstellung auf "false" fest, 
          um die Veröffentlichung von Ausnahmeinformationen zu vermeiden. -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>




  <applicationSettings>
    <SolarEdgeService.Properties.Settings>
      <setting name="HeartbeatTimerIntervalMs" serializeAs="String">
        <value>10000</value>
      </setting>
    </SolarEdgeService.Properties.Settings>
    <SolarEdgeService.Settings>
      <setting name="HeartbeatTimerIntervaklMs" serializeAs="String">
        <value>10000</value>
      </setting>
    </SolarEdgeService.Settings>
    <SolarEdgeService.SolarEdgeServiceSettings>
      <setting name="RefreshIntervalMs" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="IPAdress" serializeAs="String">
        <value>10.0.1.116</value>
      </setting>
      <setting name="ModBusPort" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="ConnectionTimeoutMs" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="MinIntervalBetweenUpdatesMs" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ReadInverterData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReadMeterData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataUpdateMode" serializeAs="String">
        <value>UpdateExistingObjects</value>
      </setting>
      <setting name="HeartbeatTimerIntervalMs" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ResetHeartbeatTimerOnDataUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </SolarEdgeService.SolarEdgeServiceSettings>
  </applicationSettings>
  <userSettings>
    <SolarEdgeService.SolarEdgeServiceSettings>
      <setting name="AutorunServicesInGUIMode" serializeAs="String">
        <value>False</value>
      </setting>
    </SolarEdgeService.SolarEdgeServiceSettings>
  </userSettings>
</configuration>
